<h1>Subscriptions#index</h1>

<%= simple_form_for :subscription do |f| %>
<%= f.hidden_field :type, value: 'ex_tags' %>
<%= f.text_field :name, inline_label: 'Name' %>
<%= f.button :submit %>
<% end %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Button</th>
  </tr>

  <% @subscriptions.each do |sub| %>
  <tr>
    <td><%= sub.subscriptable.name %></td>
    <td>
     <%= simple_form_for(sub, method: :delete) do |f| %>
     <%= f.hidden_field :type, value: 'ex_tags' %>
     <%= f.button :submit, 'Unfollow', class: "btn btn-danger" %>
     <% end %>
   </td>
 </tr>
 <% end %>
</table>
