<% page_title '登入' %>

<!-- Login Form -->
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form, html: { method: :post}) do |f| %>
<div class="form-inputs">
  <%= f.input :email, wrapper: :vertical_input_group, as: :email, autofocus: true, required: true %>
  <%= f.input :password, wrapper: :vertical_input_group, required: true %>
  <%= f.input :remember_me, label: '<span></span> Remember me?'.html_safe, as: :boolean, wrapper: :vertical_boolean, :label_html => { class: 'csscheckbox csscheckbox-primary' } if devise_mapping.rememberable? %>
</div>

<div class="form-actions">
  <%= f.button :button, "Log in&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-arrow-right'></i>".html_safe, class: 'btn-block btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Logging in..."} %>
</div>
<br />
<% end %>
<!-- END Login Form -->
