<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "hkStockOwl" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "hkStockOwl" %>">
    <%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<!-- Body -->
<body>
  <!-- Login Container -->
  <div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
        <strong>hkStockOwl</strong>
    </h1>
    <!-- END Login Header -->

    <%= render 'layouts/messages' %>

    <!-- Login Block -->
    <div class="block animation-fadeInQuickInv">
        <!-- Login Title -->
        <div class="block-title">
          <%= render 'devise/shared/links' %>
          <h2><%= content_for?(:title) ? yield(:title) : "hkStockOwl" %></h2>
        </div>
        <!-- END Login Title -->

        <%= yield %>
    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
      <small><span id="year-copy"></span> &copy; <%= link_to("hkStockOwl", root_path) %></small>
    </footer>
    <!-- END Footer -->
  </div>
  <!-- END Login Container -->
</body>
</html>
